#container {
    width: 230px;
    height: 100px;
    background-color: yellow;
    position: relative;
    border: 2px solid black;
    margin: 50px;
}

#time {
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 10%;
}